.container {
  width: 80%;
}

h1 {
  margin-left: 15px;
}

#new-task-form {
  margin-left: 15px;
}

.form-component {
  margin-top: 10px;
}

.banner {
  height: 55px;
}

.logo {
  height: 55px;
  margin-top: 0px;
}
