<div class="container">
  <form action="/tasks" method="post" id="new-task-form">
    <p>Enter a new task:</p>
    <input type='text' name='task[title]' class="form-component" placeholder="Task name"/><br />
    <textarea name='task[description]' class="form-component" placeholder="Task description"></textarea><br/>
    <input type='submit' value="Submit" class="btn btn-default form-component"/>
  </form>
</div>
